* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cardo", "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
}

/* Navbar */
.navbar {
    background-color: white;
    padding: 20px;
}

.navbar .container {
    display: flex;
    align-items: center;
    height: 25px;
}

.navbar .nav-title {

}

/* Hero */
.hero{
    background-color: #D1BB9F;
    height: 900px;
    padding-top: 100px;
}
.hero .container {
    display: flex;
}
.hero-text {
    width: 700px;
    margin-top: 150px;
    margin-right: 30px;
}
.hero-heading {
    margin-bottom: 20px;
    width: 600px;
}
.hero-body {
    line-height: 1.8;
    width: 600px;
    font-size: 18px;
}
.pfp{
    width: 550px;
    border-radius: 40px;

}

/*Products*/
.products {
    padding-top: 80px;
    height: 650px;
}

.products-text {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

.products-title {
    text-align: center;
    margin-bottom: 60px;
}

.products .products-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}
.products .cardImg {
    width: 350px;
    border-radius: 40px;
    margin-bottom: 25px;
    /*border: solid 10px;
    border-color: #D1BB9F;*/
}
.products .cardText {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.products .cardImg:hover {
    animation: cardHoverIn 0.5s forwards;
}
.products .cardImg:not(:hover) {
    animation: cardHoverOut 0.5s forwards;
}
@keyframes cardHoverIn {
    from{filter: sepia(0); width: 350px;}
    to{filter: sepia(80); width: 360px;}
}
@keyframes cardHoverOut {
    from{filter: sepia(80); width: 360px;}
    to{filter: sepia(0); width: 350px;}
}

/* Utility Classes */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Text Classes */
.text-nav {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
}

.text-m {
    font-size: 18px;
    font-weight: 100;
}
.text-xl {
    font-size: 45px;
    font-weight: 300;
}

.text-xxl {
    font-size: 50px;
    font-weight: 300;
}